*{
  padding:0px;
  margin:0;
}
.top-container{
  background-color: #1F2937;
  padding-top: 30px;
}
.Header{
  color:#F9FAF8;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}
.Navbars{
  display: flex;
  justify-content: space-around;
}
.links{
  font-size: 18px;
  margin-top: 8px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  list-style: none;
  gap:20px;
  color: #E5E7EB;
}
.para{
  max-width: 400px;
  color:#E5E7EB;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 15px;
}

.textAndImage{
  display: flex;
  margin-left:270px;
  margin-right: 270px;
  margin-top:100px;
}
.img{
  height: auto;
  width: 500px;
  border-radius: 2px;
  margin-bottom: 130px;
  margin-left: 100px;
}
.anchor{
  text-decoration: none;
  color:#E5E7EB;
  font-size: 18px;
}
.anchor:hover{
  color:aqua;
}
.biggest{
  font-size: 48px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  color:#f9FAF8;
  margin-bottom: 15px;
}
.myButton {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
  margin-top:15px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* Middle-Container */

.middle-container{
  margin-top:50px;
  text-align: center;
}
.header{
  margin-bottom: 50px;
}

.four-boxes{
  display: flex;
  justify-content: center;
  gap:50px;
}
.box-para{
  max-width: 200px;
}

.box-img{
  height: auto;
  width:200px;
  border-radius: 5px;
  border: 5px solid  #019ad2;
}

/* Third Container */

.third-container{
  margin-top:100px;
  background-color: #E5E7EB;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
}
.quote{
  font-size: 36px;
  color:#1F2937;
  font-weight: 100px;
  font-family: 'Edu SA Beginner', cursive;
}
.jordan{
  position: relative;
  left: 510px;
  margin-top:30px;
}

/* Last Container */

.last-container{
  display: flex;
  justify-content: center;
  align-self:center;
}

.blue{
  background-color: #019ad2;
  padding: 50px;
  width:60%;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
}
.sign-up{
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  color:#E5E7EB;
}
.header-action{
  color:#F9FAF8;
}
.Button {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background-color:transparent;
	border-radius:7px;
	border:4px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.Button:hover {
	background-color:#019ad2;
}
.Button:active {
	position:relative;
	top:1px;
}

