*{
  padding:0px;
  margin:0;
}
.top-container{
  background-color: #1F2937;
}
.Header{
  color:white;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}
.Navbars{
  display: flex;
  justify-content: space-around;
}
.links{
  font-size: 18px;
  margin-top: 8px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  list-style: none;
  gap:20px;
  color: #E5E7EB;
}
.para{
  max-width: 200px;
}

.textAndImage{
  display: flex;
}
